<ul>
  <li>{{#link-to 'photos'}}PHOTOS{{/link-to}}</li>
  <li>{{#link-to 'search'}}search{{/link-to}}</li>
  <li>{{#link-to 'upload'}}upload{{/link-to}}</li>
</ul>

<ul>
  {{#each model.photos as |photo|}}
    <li><a {{action 'select' photo}}>{{photo.url}}</a></li>
  {{/each}}
</ul>

Empty select a photo
