<ul>
  <li>{{#link-to 'photos'}}PHOTOS{{/link-to}}</li>
  <li>{{#link-to 'search'}}search{{/link-to}}</li>
  <li>{{#link-to 'upload'}}upload{{/link-to}}</li>
</ul>

<ul>
  {{#each photos as |photo|}}
    {{photo-item select="selectImage" photo=photo}}
  {{/each}}
</ul>

<ul>
  <li>{{#link-to 'photo.properties'}}properties{{/link-to}}</li>
  <li>{{#link-to 'photo.crops'}}crops{{/link-to}}</li>
</ul>

{{outlet}}
